#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  border: 1px solid #FFFFFF;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.115s;
}

.card:hover {
  box-shadow: 0.2rem 0.2rem #FFFFFF;
  translate: -0.2rem -0.2rem;
}

.card > h2 {
  font-size: 2rem;
}

.card > img {
  border-radius: 1rem;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}
